
@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato/Regular/Lato-Regular.eot');
  src: url('../fonts/Lato/Regular/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato/Regular/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato/Regular/Lato-Regular.ttf') format('truetype'),
  url('../fonts/Lato/Regular/Lato-Regular.svg#Lato-Regular') format('svg'),
  url('../fonts/Lato/Regular/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato/Bold/Lato-Bold.eot');
  src: url('../fonts/Lato/Bold/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato/Bold/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato/Bold/Lato-Bold.ttf') format('truetype'),
  url('../fonts/Lato/Bold/Lato-Bold.svg#Lato-Bold') format('svg'),
  url('../fonts/Lato/Bold/Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-Regular';
  src: url('../fonts/Exo/Regular/Exo-Regular.eot');
  src: url('../fonts/Exo/Regular/Exo-Regular.woff2') format('woff2'),
  url('../fonts/Exo/Regular/Exo-Regular.woff') format('woff'),
  url('../fonts/Exo/Regular/Exo-Regular.ttf') format('truetype'),
  url('../fonts/Exo/Regular/Exo-Regular.svg#Exo-Regular') format('svg'),
  url('../fonts/Exo/Regular/Exo-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Exo-SemiBold';
  src: url('../fonts/Exo/SemiBold/Exo-SemiBold.eot');
  src: url('../fonts/Exo/SemiBold/Exo-SemiBold.woff2') format('woff2'),
  url('../fonts/Exo/SemiBold/Exo-SemiBold.woff') format('woff'),
  url('../fonts/Exo/SemiBold/Exo-SemiBold.ttf') format('truetype'),
  url('../fonts/Exo/SemiBold/Exo-SemiBold.svg#Exo-SemiBold') format('svg'),
  url('../fonts/Exo/SemiBold/Exo-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Exo-Bold';
  src: url('../fonts/Exo/Bold/Exo-Bold.eot');
  src: url('../fonts/Exo/Bold/Exo-Bold.woff2') format('woff2'),
  url('../fonts/Exo/Bold/Exo-Bold.woff') format('woff'),
  url('../fonts/Exo/Bold/Exo-Bold.ttf') format('truetype'),
  url('../fonts/Exo/Bold/Exo-Bold.svg#Exo-Bold') format('svg'),
  url('../fonts/Exo/Bold/Exo-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
