* {
	box-sizing: border-box;
}

html {
	font-size: $rootFont;
	scroll-behavior: smooth;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	display: inline-block;
}

input, button, textarea {
	outline: none;
	border: none;
}

button {
	cursor: pointer;
}

ul, li {
	list-style: none;
}

