$max-width: 1170px;

//COLORS
$white1: #fff;

$header_top_bg: #424242;
$header_top_social: #999999;
$header_top_social_hov:#f0423c;
$header_address_separator: #5c5c5c;

$logo_text_color1: #424242;
$logo_text_color2: #f0423c;

$submenu_bg: #414141;
$submenu_text: #fffefe;
$submenu_border: #5b5b5b;

$form_input: #999999;

$error_description :#666666;
$error_search_border: #e5e5e5;

$about_title_color: #424242;
$about_icon_color: #999999;
$about_icon_after: #e4e4e4;
$about_item_border: #e5e5e5;
$about_item_bg: #f7f7f7;

$easy_text: #666666;
$easy_video_border: #e5e5e5;
$easy_feature_title: #424242;

$examples_bg: #f7f7f7;
$examples_details_bg: #f0423c;


$testimonials_text:#666666;
$testimonials_rating: #999999;
$testimonials_item_bg: #f7f7f7;

$footer_bg: #f7f7f7;
$footer_text: #666666;
$footer_social: #999999;
$footer_social_border: #e5e5e5;
$footer_social_hover: #f0423c;
$footer_title: #434343;
$footer_item_border:#dcdcdc;
$footer_bottom_bg: #434343;

//FONTS
$rootFont: 10px;
$main-font-size: 10px;
$mainFont: "MyriadPro-Regular";

